# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore the massive data files
data/
*.txt
*.csv

# Python
__pycache__/
*.pyc
.venv/